<div id="sites" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    business
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    現場状況管理
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="sites-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>作業日</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.date | date:'mediumDate' }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>現場名称</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.name }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="equipment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>機材表</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.equipment }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="preparation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>準備</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.preparation }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="on_site">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>現場</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.on_site }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cleanup">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>片付け</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.cleanup }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="preparing_next_time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>次回の機材表準備</mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <p class="text-truncate">{{ site.preparing_next_time }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let site">
                        <button mat-mini-fab color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="site"
                         matRipple
                         [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.data.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
